ul {
  list-style: none;
  padding: 2rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  font-size: medium;
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}
