<mat-toolbar color="primary"><span><a routerLink="/">Vestibule</a></span>

  <span class="spacer"></span>

  <ul>
    <li><a
        mat-button
        routerLink="/create"
        routerLinkActive="mat-raised-button"
        *ngIf="userIsAuth"
      >New Post</a>
    </li>
    <li *ngIf="!userIsAuth"><a
        mat-button
        routerLink="/auth/login"
        routerLinkActive="mat-raised-button"
      >Login</a>
    </li>
    <li *ngIf="userIsAuth">
      <button
        mat-button
        (click)="onLogout()"
      >Logout</button>
    </li>
    <li *ngIf="!userIsAuth"><a
        mat-button
        routerLink="/auth/signup"
        routerLinkActive="mat-raised-button"
      >Signup</a>
    </li>
  </ul>
</mat-toolbar>
